altgraph==0.16.1
attrs==19.1.0
Automat==0.7.0
azure-cognitiveservices-speech==1.5.1
beautifulsoup4==4.7.1
certifi==2019.3.9
chardet==3.0.4
constantly==15.1.0
Django==2.2.2
enum34==1.1.6
future==0.17.1
fuzzywuzzy==0.17.0
geojson==2.4.1
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
macholib==1.11
numpy==1.16.4
paho-mqtt==1.4.0
pefile==2019.4.18
PyAudio==0.2.11
PyHamcrest==1.9.0
PyInstaller==3.4
pyowm==2.10.0
pypiwin32==223
python-Levenshtein==0.12.0
pyttsx3==2.71
pytz==2019.1
pywin32==224
pywin32-ctypes==0.2.0
requests==2.22.0
selenium==3.141.0
six==1.12.0
soupsieve==1.9.1
SpeechRecognition==3.8.1
sqlparse==0.3.0
Twisted==19.2.1
urllib3==1.25.3
vk-api==11.4.0
vk-requests==1.2.0
zope.interface==4.6.0
